alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          accessModes:
          - ReadWriteOnce
          resources:
            requests:
              storage: 2Gi
          storageClassName: longhorn
grafana:
  adminPassword: admin123
  persistence:
    enabled: true
    size: 5Gi
    storageClassName: longhorn
  service:
    nodePort: 30030
    type: NodePort
prometheus:
  prometheusSpec:
    retention: 7d
    serviceMonitorNamespaceSelector: {}
    serviceMonitorSelector: {}
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes:
          - ReadWriteOnce
          resources:
            requests:
              storage: 10Gi
          storageClassName: longhorn
  service:
    nodePort: 30090
    type: NodePort