name: CI/CD Demo App

on:
  push:
    branches:
      - main  # oder master

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/build-push-action@v5

    - name: Login to private registry
      uses: docker/login-action@v3
      with:
        registry: 192.168.1.171:5000
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile
        push: true
        tags: 192.168.1.171:5000/demo-ha/demo-app:dev
